WSDLGeneratorDemo/Connected Services/CybozuService/CybozuMemoServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://wsdl.cybozu.co.jp/memo/2008" xmlns:base_services="http://wsdl.cybozu.co.jp/base/2008" xmlns:typens="http://wsdl.cybozu.co.jp/memo/2008/types" xmlns="http://schemas.xmlsoap.org/wsdl/" name="CybozuMemoServices" targetNamespace="http://wsdl.cybozu.co.jp/memo/2008" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://wsdl.cybozu.co.jp/base/2008" location="base.wsdl" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:memo="http://schemas.cybozu.co.jp/memo/2008" xmlns:base="http://schemas.cybozu.co.jp/base/2008" xmlns:base_types="http://wsdl.cybozu.co.jp/base/2008/types" targetNamespace="http://wsdl.cybozu.co.jp/memo/2008/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="base.xsd" namespace="http://schemas.cybozu.co.jp/base/2008" />
      <xsd:import schemaLocation="memo.xsd" namespace="http://schemas.cybozu.co.jp/memo/2008" />
      <xsd:import namespace="http://wsdl.cybozu.co.jp/base/2008/types" />
      <xsd:complexType name="MemoEditMemoType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="memo" type="memo:MemoType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="file">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="content" type="xsd:base64Binary" />
              </xsd:sequence>
              <xsd:attribute name="id" type="base:IDType" use="required" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="remove_file_id" type="base:IDType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="MemoFolderTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="root" />
          <xsd:enumeration value="system_folder" />
          <xsd:enumeration value="user_folder" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MemoFolderType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="memo:FolderType">
            <xsd:attribute name="folder_type" type="typens:MemoFolderTypeType" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MemoAddFoldersRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="request_token" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="add_folder" type="memo:FolderType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoAddFoldersResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folder" type="memo:FolderType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoAddMemosRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="request_token" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="add_memo" type="typens:MemoEditMemoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoAddMemosResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="memo" type="memo:MemoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoFileDownloadRequestType">
        <xsd:attribute name="file_id" type="base:IDType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MemoFileDownloadResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="file" type="base_types:FileBodyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoGetFoldersByIdRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="folder_id" type="base:IDType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoGetFoldersByIdResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folder" type="typens:MemoFolderType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoGetFolderVersionsRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folder_item" type="base_types:ItemVersionType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoGetFolderVersionsResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folder_item" type="base_types:ItemVersionResultType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoGetMemosByIdRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="memo_id" type="base:IDType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoGetMemosByIdResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="memo" type="memo:MemoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoGetMemoVersionsRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="memo_item" type="base_types:ItemVersionType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folder_id" type="base:IDType" />
        </xsd:sequence>
        <xsd:attribute name="start" type="xsd:dateTime" use="required" />
        <xsd:attribute name="end" type="xsd:dateTime" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MemoGetMemoVersionsResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="memo_item" type="base_types:ItemVersionResultType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoModifyFoldersRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="request_token" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="modify_folder" type="memo:FolderType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoModifyFoldersResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folder" type="memo:FolderType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoModifyMemosRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="request_token" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="modify_memo" type="typens:MemoEditMemoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoModifyMemosResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="memo" type="memo:MemoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoRemoveFoldersRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="request_token" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="folder_id" type="base:IDType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemoRemoveMemosRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="request_token" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="memo_id" type="base:IDType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MemoAddFoldersRequest">
    <wsdl:part name="parameters" type="typens:MemoAddFoldersRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoAddFoldersResponse">
    <wsdl:part name="returns" type="typens:MemoAddFoldersResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoAddMemosRequest">
    <wsdl:part name="parameters" type="typens:MemoAddMemosRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoAddMemosResponse">
    <wsdl:part name="returns" type="typens:MemoAddMemosResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoFileDownloadRequest">
    <wsdl:part name="parameters" type="typens:MemoFileDownloadRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoFileDownloadResponse">
    <wsdl:part name="returns" type="typens:MemoFileDownloadResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoGetFoldersByIdRequest">
    <wsdl:part name="parameters" type="typens:MemoGetFoldersByIdRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoGetFoldersByIdResponse">
    <wsdl:part name="returns" type="typens:MemoGetFoldersByIdResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoGetFolderVersionsRequest">
    <wsdl:part name="parameters" type="typens:MemoGetFolderVersionsRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoGetFolderVersionsResponse">
    <wsdl:part name="returns" type="typens:MemoGetFolderVersionsResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoGetMemosByIdRequest">
    <wsdl:part name="parameters" type="typens:MemoGetMemosByIdRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoGetMemosByIdResponse">
    <wsdl:part name="returns" type="typens:MemoGetMemosByIdResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoGetMemoVersionsRequest">
    <wsdl:part name="parameters" type="typens:MemoGetMemoVersionsRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoGetMemoVersionsResponse">
    <wsdl:part name="returns" type="typens:MemoGetMemoVersionsResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoModifyFoldersRequest">
    <wsdl:part name="parameters" type="typens:MemoModifyFoldersRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoModifyFoldersResponse">
    <wsdl:part name="returns" type="typens:MemoModifyFoldersResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoModifyMemosRequest">
    <wsdl:part name="parameters" type="typens:MemoModifyMemosRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoModifyMemosResponse">
    <wsdl:part name="returns" type="typens:MemoModifyMemosResponseType" />
  </wsdl:message>
  <wsdl:message name="MemoRemoveFoldersRequest">
    <wsdl:part name="parameters" type="typens:MemoRemoveFoldersRequestType" />
  </wsdl:message>
  <wsdl:message name="MemoRemoveMemosRequest">
    <wsdl:part name="parameters" type="typens:MemoRemoveMemosRequestType" />
  </wsdl:message>
  <wsdl:portType name="MemoPort">
    <wsdl:operation name="MemoAddFolders">
      <documentation>
        This API adds folders.
        The service returns the folders that added.
      </documentation>
      <wsdl:input message="tns:MemoAddFoldersRequest" />
      <wsdl:output message="tns:MemoAddFoldersResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoAddMemos">
      <documentation>
        This API adds memos.
        The service returns the memos that added.
      </documentation>
      <wsdl:input message="tns:MemoAddMemosRequest" />
      <wsdl:output message="tns:MemoAddMemosResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoFileDownload">
      <documentation>
        This API downloads the file in memo.
      </documentation>
      <wsdl:input message="tns:MemoFileDownloadRequest" />
      <wsdl:output message="tns:MemoFileDownloadResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoGetFoldersById">
      <documentation>
        This API gets the folders by folder id.
        The client sends list of "folder_id" for specify the folder to search.
      </documentation>
      <wsdl:input message="tns:MemoGetFoldersByIdRequest" />
      <wsdl:output message="tns:MemoGetFoldersByIdResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoGetFolderVersions">
      <documentation>
        This API gets the modified folders.
        "folder_item" is a list of folders that a client has.
      </documentation>
      <wsdl:input message="tns:MemoGetFolderVersionsRequest" />
      <wsdl:output message="tns:MemoGetFolderVersionsResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoGetMemosById">
      <documentation>
        This API gets the memos by memo id.
        The client sends list of "memo_id" for specify the memo to search.
      </documentation>
      <wsdl:input message="tns:MemoGetMemosByIdRequest" />
      <wsdl:output message="tns:MemoGetMemosByIdResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoGetMemoVersions">
      <documentation>
        This API gets the modified memos.
        "memo_item" is a list of memos that a client has.
      </documentation>
      <wsdl:input message="tns:MemoGetMemoVersionsRequest" />
      <wsdl:output message="tns:MemoGetMemoVersionsResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoModifyFolders">
      <documentation>
        This API modifies the folders.
        The service returns the folders that modified.
      </documentation>
      <wsdl:input message="tns:MemoModifyFoldersRequest" />
      <wsdl:output message="tns:MemoModifyFoldersResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoModifyMemos">
      <documentation>
        This API modifies the memos.
        The service returns the memos that modified.
      </documentation>
      <wsdl:input message="tns:MemoModifyMemosRequest" />
      <wsdl:output message="tns:MemoModifyMemosResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoRemoveFolders">
      <documentation>
        This API removes the folders.
        The service returns empty response.
      </documentation>
      <wsdl:input message="tns:MemoRemoveFoldersRequest" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="MemoRemoveMemos">
      <documentation>
        This API removes the memos.
        The service returns empty response.
      </documentation>
      <wsdl:input message="tns:MemoRemoveMemosRequest" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemoBinding" type="tns:MemoPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="MemoAddFolders">
      <soap12:operation soapAction="MemoAddFolders" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoAddMemos">
      <soap12:operation soapAction="MemoAddMemos" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoFileDownload">
      <soap12:operation soapAction="MemoFileDownload" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoGetFoldersById">
      <soap12:operation soapAction="MemoGetFoldersById" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoGetFolderVersions">
      <soap12:operation soapAction="MemoGetFolderVersions" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoGetMemosById">
      <soap12:operation soapAction="MemoGetMemosById" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoGetMemoVersions">
      <soap12:operation soapAction="MemoGetMemoVersions" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoModifyFolders">
      <soap12:operation soapAction="MemoModifyFolders" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoModifyMemos">
      <soap12:operation soapAction="MemoModifyMemos" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoRemoveFolders">
      <soap12:operation soapAction="MemoRemoveFolders" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MemoRemoveMemos">
      <soap12:operation soapAction="MemoRemoveMemos" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/memo/2008" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>