WSDLGeneratorDemo/Connected Services/CybozuService/CybozuWebSrvServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://wsdl.cybozu.co.jp/cbwebsrv/2008" xmlns:base_services="http://wsdl.cybozu.co.jp/base/2008" xmlns:typens="http://wsdl.cybozu.co.jp/cbwebsrv/2008/types" xmlns="http://schemas.xmlsoap.org/wsdl/" name="CybozuWebSrvServices" targetNamespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://wsdl.cybozu.co.jp/base/2008" location="base.wsdl" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://schemas.cybozu.co.jp/base/2008" xmlns:base_types="http://wsdl.cybozu.co.jp/base/2008/types" targetNamespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="base.xsd" namespace="http://schemas.cybozu.co.jp/base/2008" />
      <xsd:import namespace="http://wsdl.cybozu.co.jp/base/2008/types" />
      <xsd:complexType name="CBWebSrvWeatherLocationType">
        <xsd:attribute name="code" type="base:IDType" use="required" />
        <xsd:attribute name="name" type="base:NonBlankStringType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="CBWebSrvGetWeatherLocationsRequestType" />
      <xsd:complexType name="CBWebSrvGetWeatherLocationsResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="location" type="typens:CBWebSrvWeatherLocationType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CBWebSrvWeatherType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="sunny" />
          <xsd:enumeration value="sunny_after_cloudy" />
          <xsd:enumeration value="sunny_after_rainy" />
          <xsd:enumeration value="sunny_after_snowy" />
          <xsd:enumeration value="cloudy" />
          <xsd:enumeration value="cloudy_after_sunny" />
          <xsd:enumeration value="cloudy_after_rainy" />
          <xsd:enumeration value="cloudy_after_snowy" />
          <xsd:enumeration value="rainy" />
          <xsd:enumeration value="rainy_after_sunny" />
          <xsd:enumeration value="rainy_after_cloudy" />
          <xsd:enumeration value="rainy_after_snowy" />
          <xsd:enumeration value="hard_rain" />
          <xsd:enumeration value="snowy" />
          <xsd:enumeration value="snowy_after_sunny" />
          <xsd:enumeration value="snowy_after_cloudy" />
          <xsd:enumeration value="snowy_after_rainy" />
          <xsd:enumeration value="hard_snow" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CBWebSrvWeatherDataType">
        <xsd:attribute name="date" type="xsd:date" use="required" />
        <xsd:attribute name="location_code" type="base:IDType" use="required" />
        <xsd:attribute name="weather" type="typens:CBWebSrvWeatherType" use="required" />
        <xsd:attribute name="min_temperature" type="xsd:integer" use="required" />
        <xsd:attribute name="max_temperature" type="xsd:integer" use="required" />
        <xsd:attribute name="rainfall_probability" type="xsd:unsignedInt" use="required" />
      </xsd:complexType>
      <xsd:complexType name="CBWebSrvGetWeathersByLocationRequestType">
        <xsd:attribute name="start" type="xsd:date" use="required" />
        <xsd:attribute name="end" type="xsd:date" use="required" />
        <xsd:attribute name="location_code" type="base:IDType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="CBWebSrvGetWeathersByLocationResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="weather" type="typens:CBWebSrvWeatherDataType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CBWebSrvGetWeathersRequestType">
        <xsd:attribute name="start" type="xsd:date" use="required" />
        <xsd:attribute name="end" type="xsd:date" use="required" />
      </xsd:complexType>
      <xsd:complexType name="CBWebSrvGetWeathersResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="weather" type="typens:CBWebSrvWeatherDataType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CBWebSrvGetWeatherLocationsRequest">
    <wsdl:part name="parameters" type="typens:CBWebSrvGetWeatherLocationsRequestType" />
  </wsdl:message>
  <wsdl:message name="CBWebSrvGetWeatherLocationsResponse">
    <wsdl:part name="returns" type="typens:CBWebSrvGetWeatherLocationsResponseType" />
  </wsdl:message>
  <wsdl:message name="CBWebSrvGetWeathersByLocationRequest">
    <wsdl:part name="parameters" type="typens:CBWebSrvGetWeathersByLocationRequestType" />
  </wsdl:message>
  <wsdl:message name="CBWebSrvGetWeathersByLocationResponse">
    <wsdl:part name="returns" type="typens:CBWebSrvGetWeathersByLocationResponseType" />
  </wsdl:message>
  <wsdl:message name="CBWebSrvGetWeathersRequest">
    <wsdl:part name="parameters" type="typens:CBWebSrvGetWeathersRequestType" />
  </wsdl:message>
  <wsdl:message name="CBWebSrvGetWeathersResponse">
    <wsdl:part name="returns" type="typens:CBWebSrvGetWeathersResponseType" />
  </wsdl:message>
  <wsdl:portType name="CBWebSrvPort">
    <wsdl:operation name="CBWebSrvGetWeatherLocations">
      <documentation>
        This API gets the locations for weather.
      </documentation>
      <wsdl:input message="tns:CBWebSrvGetWeatherLocationsRequest" />
      <wsdl:output message="tns:CBWebSrvGetWeatherLocationsResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="CBWebSrvGetWeathersByLocation">
      <documentation>
        This API gets the weathers by location code.
      </documentation>
      <wsdl:input message="tns:CBWebSrvGetWeathersByLocationRequest" />
      <wsdl:output message="tns:CBWebSrvGetWeathersByLocationResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
    <wsdl:operation name="CBWebSrvGetWeathers">
      <documentation>
        This API get weathers of all locations
      </documentation>
      <wsdl:input message="tns:CBWebSrvGetWeathersRequest" />
      <wsdl:output message="tns:CBWebSrvGetWeathersResponse" />
      <wsdl:fault name="CybozuError" message="base_services:Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CBWebSrvBinding" type="tns:CBWebSrvPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="CBWebSrvGetWeatherLocations">
      <soap12:operation soapAction="CBWebSrvGetWeatherLocations" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CBWebSrvGetWeathersByLocation">
      <soap12:operation soapAction="CBWebSrvGetWeathersByLocation" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CBWebSrvGetWeathers">
      <soap12:operation soapAction="CBWebSrvGetWeathers" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:output>
      <wsdl:fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/cbwebsrv/2008" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>